// --- Style de la page Produit ---

.canvasContainer {
  cursor: pointer;
  position: relative;

  canvas {
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    margin: 20px;
    margin-left: 0;
  }

  &.visible {
    position: relative;
    z-index: 2;
  }
}

.product-description {
  padding-top: 20px;
  line-height: 1.8;

  // mobile
  @media screen and (max-width: 780px) {
    text-align: center;
  }
}

.product-title {
  font-size: 44px;
  font-weight: 200px;

  // mobile
  @media screen and (max-width: 780px) {
    text-align: center;
    font-size: 35px;
  }
}

.infos {
  font-weight: 600;
}

.imageContainer {
  padding-bottom: 40px;

  &.visible {
    position: relative;
    z-index: 2;
  }
}

.closeCanvas {
  position: absolute;
  z-index: 2;
  display: none;
  top: 2px;
  left: 2px;
}
