// Fichier style du header

.header-container {
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
  z-index: 3;
  position: relative;

  //header
  @media screen and (max-width: 780px) {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.logo {
  //header
  @media screen and (max-width: 780px) {
    width: 44px;
  }
}

.main-menu {
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #d6d6d6;

  //header
  @media screen and (max-width: 780px) {
    padding: 19px 0;
  }
}

.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-weight: 600;
  margin: 0;

  //header
  @media screen and (max-width: 780px) {
    padding: 0;
    font-size: 14px;
  }
}

.menu-item {
  padding-right: 20px;
  padding-left: 20px;

  //header
  @media screen and (max-width: 780px) {
    padding-left: 0;

    &:last-child {
      padding-right: 0;
    }
  }

  a {
    color: black;
    text-decoration: none;
  }
}

.contact {
  display: flex;
  align-items: center;
  font-weight: 600;

  //header
  @media screen and (max-width: 780px) {
    font-size: 14px;
    padding-right: 10px;
  }
}

.is-scrolling {
  position: fixed;
  z-index: 3;
  right: 0;
  left: 0;
  transition: background-color 0.5s ease;
  background-color: white;

  .header-container {
    margin-bottom: 0;
    color: black !important;
  }
}
